/*-------------Doc--------------*/
*{
  font-family: "Montserrat", sans-serif;
}
#doc{
    box-shadow: 0px 1px 10px 0px rgba(200, 208, 215, 0.88);
    -webkit-box-shadow: 0px 1px 10px 0px rgba(200, 208, 215, 0.88);
    -moz-box-shadow: 0px 1px 10px 0px rgba(200, 208, 215, 0.88);
}
#doc a{
    line-height: 40px;
    margin-left: 15px;
    font-size: 18px;
    font-weight:bold;
}
#count{
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.4);
    
}
#count .col-md-6{
    height:50px;
}
#count p{
    font-size:16px;
    color:#fff;
    line-height:50px;
}
#count span{
    font-size:15px !important;
    margin-left:10px !important;
}
@media screen and (max-width:900px){
    #count .col-xs-12{
        height:35px;
    }
    #count p{
        font-size:14px;
        line-height:35px;
    }
    #count span{
        margin-left:7px !important;
        font-size:13px !important;
    }
}
/*---------------- Start Register & Login Form -------------*/
.c-b .col-xs-6, .c-b .col-xs-12{
  padding: 0px !important;
}
.c-b .col-lg-3,.c-b .col-md-6{
  padding: 1px !important
}
.c-b button{
  font-weight: 600;
  outline: none;
  padding: 8px;
  background-color: #fff;
  color: #000;
  border:none;
  border:2px solid #fff;
}
.c-b button:hover{
  background-color: transparent;
  color: #fff;
}
.reglogin-bg{
  background: #171c84; /* Old browsers */
  background: -moz-linear-gradient(45deg, #171c84 0%, #161a7f 50%, #1e5799 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #171c84 0%,#161a7f 50%,#1e5799 100%); /* Chrome10-25,Safari5.1-6 */
  background:linear-gradient(45deg, #171c84 0%,#161a7f 50%,#1e5799 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#171c84', endColorstr='#1e5799',GradientType=1 ); 
  background-attachment: fixed;
  min-height: 100% !important;
}
.bg{
  background: #171c84; /* Old browsers */
  background: -moz-linear-gradient(45deg, #171c84 0%, #161a7f 50%, #1e5799 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #171c84 0%,#161a7f 50%,#1e5799 100%); /* Chrome10-25,Safari5.1-6 */
  background:linear-gradient(45deg, #171c84 0%,#161a7f 50%,#1e5799 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#171c84', endColorstr='#1e5799',GradientType=1 ); 
  overflow: hidden;
  position: relative;
  height:auto !important;
}
.reg-login{
  width: 50%;
  transform: translate(50%,0%);
  -webkit-transform: translate(50%,0%);
  -moz-transform: translate(50%,0%);
  border-radius: 5px;
  padding: 20px;
}
.my-login{
    min-height:100%;
  width: 40%;
  transform: translate(80%,0%);
  -webkit-transform: translate(80%,0%);
  -moz-transform: translate(80%,0%);
  border-radius: 5px;
  padding: 20px;
}
@media screen and (max-width:1000px){
  .reg-login,.my-login{
    min-width: 100% !important;
    transform: translate(0%,0%);
    -webkit-transform: translate(0%,0%);
    -moz-transform: translate(0%,0%);
  }
  .head-login{
     text-align: center;
  }
}
.reg-login label,.my-login label{
  color: #fff
}
.my-login input,select{
  background-color: rgba(0, 0, 0,0.3) !important;
  padding: 15px !important;
  width: 100%;
  margin-bottom: 10px;
  outline: none !important;
  color: #fff !important;
  border:1px solid #fff !important;

}
.reg-login input,select{
  background-color: rgba(0, 0, 0,0.3) !important;
  padding: 15px !important;
  width: 100%;
  margin-bottom: 10px;
  outline: none !important;
  color: #fff !important;
  border:1px solid #fff !important;

}
.reg-login input[type="text"],input[type="password"],input[type="email"]{
  font-size: 15px !important;
  outline: none;  
}
.my-login input[type="text"],input[type="password"],input[type="email"]{
  font-size: 15px !important;
  outline: none;  
}
.my-login input[type="submit"],.reg-login input[type="submit"]{
  background-color: #33A2FF !important;
  border: none !important;
  color:#ffffff;
  margin-bottom:30px;
  margin-top: 27px;
  max-width: 40%;
  border-radius: 50px;
  padding: 10px !important;
}
.my-login input[type="submit"]:hover,.reg-login input[type="submit"]:hover{
  background-color: #0064B8;
}
.head-login{
  margin-top:15px;
  margin-bottom: 20px;
}
/*---------------- End Register & Login Form -------------*/


/*------------- Start Dropdown -------------------*/
.active{
  border-left: 6px solid #1E88E5;
}
@-webkit-keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInRight {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}

.open .dropdown-menu {
    -moz-animation: bounceInRight 0.7s ease-in;
    -webkit-animation: bounceInRight 0.7s ease-in ;
    animation: bounceInRight 0.7s ease-in;
    opacity: 1;
    display:block;
    width: 100%;
    border: none;
}
.dropdown-menu{
  font-weight: 600;
  color:#000;
  margin-left: -160px !important;
  padding: 10px;
  width: 250px !important;
  border:none;
  font-family: "Montserrat", sans-serif;
}
.dropdown-menu li{
  line-height: 30px !important;
}
.button {
    border-radius: 50px;
    background-color: #1E88E5;
    height: 40px;
    line-height: 15px;
    border: none;
    outline: none;
    color: #fff !important;
    padding: 1px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

/*------------  End Dropdown -----------*/

/*------------  Start Top Earning banner -----------*/
.mb-25 {
    margin-bottom: 25px;
}
.banner-static ul{
    list-style: none;
}
.banner-static ul li{
    display: inline-block;
}
.breadcrumb li a {
    color: #242A33;
    font-size: 14px;
}
.page-title {
    font-size: 24px;
    color: #272C33;
}
.breadcrumb {
    padding: 0;
    margin-bottom: 0;
    list-style: none;
    background: none;
}
.breadcrumb li {
    color: #ccc0e5;
}
.banner-static {
    float: right;
}
.banner-static .this-month {
    border-radius: 5px 0px 0px 5px;
    box-shadow: 0.5px 0.866px 0px 0px #3795a6, inset 0.5px 0.866px 0px 0px #a4dae9;
    -webkit-box-shadow: 0.5px 0.866px 0px 0px #3795a6, inset 0.5px 0.866px 0px 0px #a4dae9;
    -moz-box-shadow: 0.5px 0.866px 0px 0px #3795a6, inset 0.5px 0.866px 0px 0px #a4dae9;
    float: left;
    padding: 12px;
    background: #171c84; /* Old browsers */
background: -moz-linear-gradient(45deg, #171c84 0%, #161a7f 50%, #1e5799 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #171c84 0%,#161a7f 50%,#1e5799 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #171c84 0%,#161a7f 50%,#1e5799 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#171c84', endColorstr='#1e5799',GradientType=1 );
    color: #fff;
}
.banner-static .this-month ul li,
.banner-static .last-month ul li {
    float: left !important;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 18px;
}
.banner-static .this-month ul li > span,
.banner-static .last-month ul li > span {
    display: block;
    font-size: 15px;
    font-weight: 600;
}
.banner-static .this-month ul li > img,
.banner-static .last-month ul li > img{
    padding-left: 10px;
    width: 60px;
}
.banner-static .last-month {
    border-radius: 0px 5px 5px 0px;
    box-shadow: 0.5px 0.866px 0px 0px #3795a6, inset 0.5px 0.866px 0px 0px #a4dae9;
    -webkit-box-shadow: 0.5px 0.866px 0px 0px #3795a6, inset 0.5px 0.866px 0px 0px #a4dae9;
    -moz-box-shadow: 0.5px 0.866px 0px 0px #3795a6, inset 0.5px 0.866px 0px 0px #a4dae9;
    float: left;
    padding: 12px;
    background: #171c84; /* Old browsers */
background: -moz-linear-gradient(45deg, #171c84 0%, #161a7f 50%, #1e5799 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #171c84 0%,#161a7f 50%,#1e5799 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #171c84 0%,#161a7f 50%,#1e5799 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#171c84', endColorstr='#1e5799',GradientType=1 );
    color: #fff;
}
@media screen and (max-width: 767px){
  .banner-static .last-month li > img,.banner-static .this-month li > img {
    width: 60px;
}
   .banner-static {
    width: 100%;
    margin-top: 15px;
  }
  .banner-static .this-month,.banner-static .last-month{
    width: 50%;
    padding: 5px;
  }
  .banner-static .this-month li,.banner-static .last-month li {
    font-size: 11px !important;
  }
  .banner-static .this-month li span,.banner-static .last-month li span {
    font-size: 15px !important;
}
}
/*------------ End Top Earning banner -----------*/

/*---------------------- Start Balance Cards ------------------*/
.card-b-bg{
 background: #171c84; /* Old browsers */
background: -moz-linear-gradient(45deg, #171c84 0%, #161a7f 50%, #1e5799 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #171c84 0%,#161a7f 50%,#1e5799 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #171c84 0%,#161a7f 50%,#1e5799 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#171c84', endColorstr='#1e5799',GradientType=1 );
}
.card-bg{
background-color: #736ACB;
background-attachment: fixed;
  min-height: 100%;
}
.card {
    box-shadow: 0px 1px 10px 0px rgba(200, 208, 215, 0.88);
    -webkit-box-shadow: 0px 1px 10px 0px rgba(200, 208, 215, 0.88);
    -moz-box-shadow: 0px 1px 10px 0px rgba(200, 208, 215, 0.88);
    color:#fff;
    min-width: 0;
    word-wrap: break-word;
    border: 0px solid rgba(0,0,0,.02);
  }
  .card-b{
    color:#fff;
    min-width: 0;
    word-wrap: break-word;
    border: 0px solid rgba(0,0,0,.02);
  }
.p-10{
  padding: 0px 20px;
  padding-top: 10px !important;
  padding-bottom: 50px !important;
}
.card-b-bg .p-10{
  padding: 0px 20px;
  padding-top: 10px !important;
  padding-bottom: 100px !important;
}

.align-self-center {
    -ms-flex-item-align: center!important;
    align-self: center !important;
}

.m-b-0 {
    margin-bottom: 20px;
}
.card h4,.card-b h4 {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: Bold;
}
.card h3,.card-b h3 {
    line-height: 10px;
    font-size: 16px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
/*---------------------- End Balance Cards ------------------*/


/*---------------- Start Refferal link -------------*/
.flex {
    display: flex;
}
.ref{
  background: #171c84; /* Old browsers */
  background: -moz-linear-gradient(45deg, #171c84 0%, #161a7f 50%, #1e5799 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #171c84 0%,#161a7f 50%,#1e5799 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #171c84 0%,#161a7f 50%,#1e5799 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#171c84', endColorstr='#1e5799',GradientType=1 );
   font-size: 13px;
   font-family: "Montserrat", sans-serif;
   font-weight: 600;
   color:#fff;
   padding: 20px 0px;

}
.ref button{
  width: 60px;
  outline: none;
  padding: 10px;
  background-color: #fff;
  color: #000;
  border:none;
  border:2px solid #fff;
}
.ref > div img{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
    max-height: 180px;
}
.ref button:hover{
  background-color: transparent;
  color: #fff;
}
.ref input{
  outline: none;
  -webkit-user-select: none !important; /* Safari 3.1+ */
  -moz-user-select: none !important; /* Firefox 2+ */
  -ms-user-select: none !important; /* IE 10+ */
  user-select: none !important; /* Standard syntax */
  height: 50px;
  width: 100%;
  background-color: transparent;
  border:none;
}
/*---------------- End Refferal link -------------*/

/*----------------Edit-Profile--------------*/
#personal{
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: #4D4D4D !important;
    transform: translateY(10%);
      -webkit-transform: translateY(10%);
      -moz-transform: translateY(10%);
}

  @media screen and (max-width: 900px){
    #personal{
     transform: translateY(1%);
      -webkit-transform: translateY(1%);
      -moz-transform: translateY(1%);
  }
  }
#personal label{
  font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: Bold;
}
#personal input{
  border:1px solid rgba(0,0,0,0.1);
  padding: 10px !important;
  width:100%;
}
#personal select{
  background-color: #fff !important;
  border:1px solid rgba(0,0,0,0.1) !important;
  padding: 10px !important;
  width:100%;
  color:#000 !important;
}
#personal button[type="submit"]{
  width:20% !important;
  padding: 10px;
  outline: none !important;
  border:none;
  background-color: #00ADEF;
  color:#fff;
  border-radius: 5px;
}

/*------------ Start Binary Tree -----------*/
.btn-blue {
    background: #5fc2d4;
    border: 1px solid #5fc2d4;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    padding: 14px 30px;
    box-shadow: 0px 1px 10px 0px rgba(200, 208, 215, 0.88);
    -webkit-box-shadow: 0px 1px 10px 0px rgba(200, 208, 215, 0.88);
    -moz-box-shadow: 0px 1px 10px 0px rgba(200, 208, 215, 0.88);
    border-radius: 5px;
    display: inline-block;
}
.hideValidtor {
    display: none !important;
}
@media screen and (max-width: 767px){
.cb-heading {
    font-size: 20px;
    padding: 13px 18px 10px;
}
.p-30 {
    padding: 20px;
}
}
.cb-heading .banner-sorting {
    float: right;
    font-size: 14px;
}
.cb-heading .banner-sorting input[type="text"] {
    border: 1px solid #dbe3e8;
    padding: 7px;
    border-radius: 5px 0 0 5px;
    margin-left: 5px;
}
.cb-heading .banner-sorting input[type="submit"] {
    border: 1px solid #dbe3e8;
    padding: 7px 12px;
    border-radius: 0 5px 5px 0;
    margin-left: -15px;
}


.p-30 {
    padding: 30px;
}
.tbl-scroll {
    width: 100%;
    overflow-x: auto;
}
.Genealogytable {
    width: 787px;
    margin-left: auto;
    margin-right: auto;
}
.av_img img{
  border-radius: 50%;
  width: 70px;
  margin-right:3px;
  margin-left: 3px; 
}
/*------------ End Binary Tree -----------*/
